services:
  db:
    image: postgres:16
    container_name: warehouse_db
    environment:
      POSTGRES_DB: warehouse_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - warehouse_pgdata:/var/lib/postgresql/data

volumes:
  warehouse_pgdata:
